 body {
     background-color: #fce4ec;
     background-image: radial-gradient(rgba(216, 27, 96, 0.5) 20%, transparent 20%), radial-gradient(rgba(216, 27, 96, 0.2) 20%, transparent 30%);
     background-size: 20px 20px;
     background-position: 0, 0, 10px 10px;
 }

 .app-title {
     color: #d81b60;
     text-align: center;
     font-size: 36px;
     font-weight: bold;
     margin-bottom: 20px;
     border: 2px solid #d81b60;
     border-radius: 10px;
     padding: 10px;
     background-color: rgba(255, 255, 255, 0.8);
 }

 .card {
     border: none;
     border-radius: 15px;
     background-color: #fff;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .card-header {
     background-color: #f8bbd0;
     color: #880e4f;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }

 .input-group input {
     border-radius: 10px 0 0 10px;
     border: 1px solid #d81b60;
     transition: background-color 0.3s;
 }

 .input-group input:focus {
     background-color: #f8bbd0;
     color: #d2537e;
     outline: none;
     box-shadow: none;
 }

 .input-group-append .btn {
     border-radius: 0 10px 10px 0;
     background-color: #d81b60;
     color: #fff;
     border: none;
     transition: background-color 0.3s;
 }

 .input-group-append .btn:hover {
     background-color: #c2185b;
 }

 .delete-all {
     background-color: #d81b60;
     color: #fff;
     border: none;
     transition: background-color 0.3s;
 }

 .delete-all:hover {
     background-color: #d2537e;
 }

 .list-group {
     padding: 0;
 }

 .list-group-item {
     background-color: #fff;
     color: #880e4f;
     margin-bottom: 10px 0;
     padding: 10px;
     border-radius: 10px;
     border: 1px solid #d81b60;
     transition: background-color 0.3s;
 }

 .list-group-item:hover {
     background-color: #d2537e;
     color: white;
 }

 .fa-times {
     color: #d81b60;
 }

 .fa-times:hover {
     color: white;
 }